.block {
  margin: 0 10px;
  width: 30%;
}

.currencyes {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  width: 100%;
  border: 1px solid #bdbdbd;
  background-color: rgb(255, 255, 255);
  border-radius: 7px;
}

.currencyes li {
  width: 100%;
  padding: 7px;
  cursor: pointer;
}

.active {
  color: #fff;
  background-color: rgb(81, 179, 81);
}

.input_box {
  margin: 24px 0;
  padding: 30px 20px 15px;
  border: 1px solid #cdcdcd;
}

.input_box input {
  width: -webkit-fill-available;
  outline: none;
  height: 75px;
  font-family: inherit;
  font-size: 40px;
  font-weight: 700;
  border: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.currency {
  text-align: left;
  font-weight: 300;
}

.arrow {
  transform: rotate(90deg);
  width: 12px;
}
