.modal {
  position: absolute;
  top: 28%;
  left: 15%;
  right: 15%;
  background-color: #fff;
  width: -webkit-fill-available;
  padding: 20px 30px;
  border-radius: 4px;
  box-shadow: 0 8px 40px 0 rgb(0 0 0 / 20%);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.modal_elem {
  cursor: pointer;
  margin: 2px 0;
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  font-weight: 300;
  width: 350px;
  text-align: left;
}
.modal_elem:hover {
  background: #dbe9f9;
}

.briff {
  display: flex;
  font-weight: 600;
  align-items: center;
}
